@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
/* 
html{
    max-width: 100vw;
} */

html {
  overflow-x: hidden;
}

.App {
  background-color: #ebecf0;
  text-shadow: 1px 1px 0px #FFFFFF;
}
.customNeuStyle {
  background: #ebecf0;
  box-shadow: -3px -3px 10px #ffffff, 3px 3px 10px #babecc;
}

.customNeuStyleLink {
  background: #ebecf0;
  box-shadow: -3px -3px 10px #ffffff, 3px 3px 10px #babecc;
}

.customNeuStyleLink:hover {
  background: #e0e0e0;
  box-shadow: -2px -2px 4px #ffffffe3, 2px 2px 4px #babecc;
}
